@import '../../index.scss';

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.provider-card {
  border: 3px medium black;
  box-shadow: 8px 11px 20px 5px #86898a;
  margin: 2%;
  border-radius: 2%;
  height: 55vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  padding: 5px;
}

.name-frame {
  border-bottom: 1px solid $gunMetalGrey;
   padding: 0 0 10px 0;
}

.first-name,
.last-name,
.specialities,
.insurances,
.address {
  width: 100%;
  margin-bottom:2%;
  border-radius: 2%
}

.address {
  display: flex;
}

  @media screen and (max-width: 725px) {
    .provider-card {
      box-shadow: 8px 11px 20px 5px #86898a;
      margin: 2%;
      border-radius: 1%;
      height: 45vw;
      width: 60vw;
      display: flex;
      text-align: left;
      padding: 5px;
    }
  }

  @media screen and (max-width: 488px) {
    .provider-card {
      box-shadow: 8px 11px 20px 5px #86898a;
      margin: 2%;
      border-radius: 1%;
      height: 65vw;
      width: fit-content;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 3px;
    }
  }

  @media screen and (max-width: 325px) {
    .provider-card {
      box-shadow: 8px 11px 20px 5px #86898a;
        margin: 2%;
        border-radius: 1%;
        height: 70vw;
        width: fit-content;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 3px;
    }
  }
