@import '../../index.scss';

.provider-card-wrapper {
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.provider-card {
  border: 3px medium black;
  box-shadow: 8px 11px 20px 5px $gunMetalGrey;
  margin: 2%;
  border-radius: 2%;
  height: 20vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.first-name,
.last-name,
.speciality,
.vetted,
.address {
  width: 100%;
  margin-bottom:2%;
  border-radius: 2%
}

.address {
  display: flex;
}

.accept-button,
.deny-button {
  border-radius: 2%;
  padding: 1%;
}
