@import '../../index.scss';


.bottom-page-view {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.provider-subtitle {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2%;
  margin-bottom: 5px;
}

.dr-sub-title {
  font-size: 1.6em;
}

.all-drs {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

/*~~~~~~ RESPONSIVE DESIGN ~~~~~~ */

@media screen and (max-width: 984px) {
  .all-drs {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}

@media screen and (max-width: 755px) {
  .all-drs {

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
}

@media screen and (max-width: 320px) {
  .all-drs {
    display: flex;
    flex-direction: column;
  }
}
