@import '../../index.scss';

.contribution-title {
  font-size: 1.4em;
  padding: 5px;
  margin-bottom: 5px;
  text-align: left;
}

.form-directions {
  font-size: 1em;
  margin: 3px 0 8px 0;
}

.responsive-form-wrapper {
  display: flex;
}

.contribution-form {
  display: flex;
  width: 100vw;
  padding: 25px;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
}

.form-input {
  padding: 1.3vw;
  border-radius: 2px;
  margin-bottom: 15px;
}

/*~~~~~~ DR. DROP DOWN STYLES ~~~~~~ */

.provider-menu {
  padding: 1vw;
  border-radius: 1px;
  margin-bottom: 20px;
}

.drop-down-input {
  padding: .5vw;
  border-radius: 1px;
  margin-bottom: 15px;
  width: 50%;
  height: 4.5vw;
  overflow: scroll;
}

/*~~~~~~ CHECKBOX STYLES ~~~~~~ */

.form-ins-container {
  display: flex;
  text-align: left;
  flex-direction: column;
  padding: 2%;
  -moz-box-shadow:    inset 0 0 7px #000000;
  -webkit-box-shadow: inset 0 0 7px #000000;
  box-shadow:         inset 0 0 7px #000000;
  border-radius: 2px;
  width: 55%;
  margin-bottom: 15px;
}

.checkBox-label {
  margin-bottom: 8px;
}

.checkbox-selection {
  margin-bottom: 20px;
}

.insurance-by-comma {
  padding: .5vw;
  border-radius: 1px;
  margin-bottom: 15px;
  width: 70%;
  height: 5vw;
  overflow: scroll;
  border-radius: 1px;
}

.provider-address-form {
display: flex;
flex-direction: column;
width: 35%;
}

.form-button-wrapper {
  display: flex;
}

.contribution-button {
  background-color: $locknessBlue;
  color: $paleBlue;
  border-radius: 3px;
  margin: 0 3px 10px 22px;
  padding: 1.5%;
}
