@import '../../index.scss';

/*~~~~~~ BUTTON PANEL ~~~~~~ */

.insSearch-input {
  margin: 20px 10px  5px 0;
  padding: 3%;
  width: fit-content;
}


.search-ins-button {
  margin: 2px 142px 25px 0;
  padding: 4%;
}
