/*~~~~~~ COLOR-BLIND SAFE COLORS ~~~~~~ */

$ForestGreen: #004949;
$Teal: #009292;
$SkyBlue: #6db6ff;


$vogueBlue: #29434a;
$locknessBlue: #101f24;

$silverBlue: #d5dfe0;

$shadowBlue: #071517;

$paleBlue: #d1edf0;

$gunMetalGrey: #86898a;
