/*~~~~~~ COLOR-BLIND SAFE COLORS ~~~~~~ */
$ForestGreen: #004949;
$Teal: #009292;
$SkyBlue: #6db6ff;
$BabyBlue: #924900;

/*~~~~~~ FONTS ~~~~~~ */

@font-face {
  font-family: 'opendyslexic';
	src: url('http://dyslexicfonts.com/fonts/OpenDyslexic-Regular.otf');
	font-style: normal;
	font-weight: normal;
}
