* {
  box-sizing: border-box;
  font-family: 'opendyslexic';
  margin: 0;
  padding: 0;
}

html, body {
  background: url('../../assets/images/peacefulOceanImage.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.App-title {
  font-size: 5em;
  margin-bottom: 8%;
}

.nav-bar {
  margin: 4%;
}

.App-buttons {
  padding: 1%;
  border-radius: 2%;
}
