@import '../../index.scss';

* {
  box-sizing: border-box;
  font-family: 'opendyslexic';
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

html, body {
  background-repeat: no-repeat;
  background-color: $Teal;
  background-image: linear-gradient($ForestGreen, $SkyBlue, $Teal);
  background-size: cover;
  height: 100%;
  overflow: scroll;
  width: 100%;
}

.App {
  @include displayFlexColumnCenter();
  text-align: center;
  width: 100%;
}

.header-wrapper {
  padding: 1% 3% 1% 3%;
  margin-bottom: 5%;

}

.mission {
  margin-top: 7%;
  color: $locknessBlue;
}

@media screen and (max-width: 1255px) {
  .header-wrapper {
    -webkit-box-shadow: 0 8px 6px -6px $ShadowBlue;
     -moz-box-shadow: 0 8px 6px -6px $ShadowBlue;
        box-shadow: 0 8px 6px -6px $ShadowBlue;
  }
}

@media screen and (max-width: 733px) {
  .header-wrapper {
    padding: 1%;
    -webkit-box-shadow: 8px 8px 6px -6px $ShadowBlue;
     -moz-box-shadow: 8px 8px 6px -6px $ShadowBlue;
        box-shadow: 8px 8px 6px -6px $ShadowBlue;
  }
}

@media screen and (max-width: 732px) {

  .header-wrapper {
    padding: .5%;
    -webkit-box-shadow: 0 8px 6px -6px $ShadowBlue;
     -moz-box-shadow: 0 8px 6px -6px $ShadowBlue;
      box-shadow: 0 8px 6px -6px $ShadowBlue;
  }
}

@media screen and (max-width: 375px) {
  .header-wrapper {
    padding: 0;
    box-shadow: none;
  }
}
