@import '../../index.scss';

* {
  box-sizing: border-box;
  font-family: 'opendyslexic';
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

html, body {
  background-repeat: no-repeat;
  background-color: $Teal;
  background-image: linear-gradient($ForestGreen, $SkyBlue, $Teal);
  background-size: cover;
  height: 100%;
  overflow: scroll;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  @include displayFlexColumnCenter();
  text-align: center;
  width: 100%;
}

.mission {
  margin-top: 7%;
  color: $locknessBlue;
}
